@import "tailwindcss";
/* src/index.css or src/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';
/* Import Flowbite styles */

:root {
  --cor-primaria: #7EF583;
  --cor-secundaria: #F5B47D;
  --cor-terciaria: #997DF5;

  --cor-texto: #f3f4f6;
  --cor-fundo: #2e3238;

  --cor-sucesso: #10b981;
  --cor-perda: #ef4444;
  --cor-alerta: #f59e0b;
}

body {
  margin: 0;
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #e2e2e2;
}